@import '../../../../styles/mixins';

.intro {
  justify-content: space-between;
  padding: 4.3rem 0 1.4rem;
  background: var(--green);

  div.wrapper {
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }

  .left {
    flex-shrink: 0;
    width: 45rem;
    margin-top: 3.6rem;

    h2 {
      font-size: 5rem;
      line-height: 1.1;
      width: 110%;
      margin-bottom: 3.2rem;
    }

    .connect {
      font-size: 2rem;
      padding: 0 4.1rem;
      margin-bottom: 2.8rem;
    }

    p {
      font-size: 2rem;
      line-height: 1.825;
      width: 70%;
    }

    .download {
      margin-left: 1rem;
    }
  }

  .right {
    flex-shrink: 0;
    width: 82.5rem;
    margin: 0 -3rem 0 0;
  }

  @include mobile {
    padding: 3.2rem 0;

    div.wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .left {
      width: 100%;
      margin-top: 0;

      h2 {
        font-size: 4.6rem;
        margin-bottom: 2.4rem;
      }

      .connect {
        font-size: 1.8rem;
        padding: 0 2.4rem;
        margin-bottom: 1.6rem;
      }

      p {
        font-size: 2rem;
        width: 100%;
      }
    }

    .right {
      width: 100%;
      margin: 3.2rem 0 0;
    }
  }
}
