.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;

  &.cover,
  &.contain {
    height: 100%;

    &::before {
      content: none;
    }
  }

  &.cover {
    img,
    picture {
      object-fit: cover;
    }
  }

  &.contain {
    img,
    picture {
      object-fit: contain;
    }
  }

  &:not(.cover):not(.contain)::before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: var(--pb, 56.25%);
  }

  img {
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}
