@use 'sass:math';
@import './mixins.scss';

// GENERAL
$desktop-mockup-width: 1400 !default;
$mobile-mockup-width: 750 !default;

html.is-landing {
  font-size: math.div(1000vw, $desktop-mockup-width);
  font-family: 'Euclid Circular B', sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 100%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;

  --green: #80dc95;
  --purple: #34244c;
  --blue: #75bff8;
  --yellow: #f9e37a;
  --pink: #ff62e6;
  --light-pink: #f1b3e7;
  --black: #000;
  --white: #fff;
  --orange: #FF7B00;

  @include mobile {
    font-size: math.div(1000vw, $mobile-mockup-width);
  }

  @include desktop {
    font-size: math.div(10px * 1920, $desktop-mockup-width);
  }

  * {
    -webkit-tap-highlight-color: rgba(var(--pink), 0);
    -webkit-tap-highlight-color: transparent;

    &::selection {
      color: var(--color-selection, #fff);
      background: var(--background-selection, var(--pink));
    }
  }

  body {
    color: #000;
    font-size: 1.6rem;
    line-height: 2rem;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
  }

  :global {
    body {
      &.dark-mode {
        color: #000;
        background: #fff;

        h2 {
          color: inherit;
        }

        &::before {
          content: none;
        }
      }
    }

    .page-multitoken-swap,
    .page-swap-with-portfolio {
      .wrapper {
        display: flex;
        align-items: center;
        max-width: 127.5rem;
        margin: 0 auto;

        @include mobile {
          max-width: 69rem;
        }
      }
    }
  }
}
