@import '../../../../styles/mixins';

.text-img-list {
  position: relative;
  margin-top: 3.7rem;
  padding: 12.2rem 0 17.1rem;

  .background {
    z-index: 5;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    min-width: 100%;
  }

  .list {
    z-index: 10;
    position: relative;
    list-style: none;
    flex-flow: column nowrap;
    width: 96.3rem;

    li {
      color: #24292e;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &:nth-of-type(1) {
        .right {
          width: 17.8rem;
          margin-right: 11.8rem;
        }
      }

      &:nth-of-type(2) {
        flex-flow: row-reverse nowrap;
        margin-top: 16rem;

        .left {
          h3 {
            width: 42.1rem;
          }
        }

        .right {
          width: 41.5rem;
          margin-right: 18.5rem;
        }
      }

      &:nth-of-type(3) {
        margin-top: 9rem;

        .left {
          h3 {
            width: 49rem;
          }
        }

        .right {
          width: 17.6rem;
          margin-right: 12.4rem;
        }
      }

      .left {
        flex-shrink: 0;
        width: 45.3rem;

        h3 {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 133.333%;
        }

        p {
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 137.5%;
          margin-top: 1.6rem;
        }
      }

      .right {
        flex-shrink: 0;
      }
    }
  }

  @include mobile {
    margin-top: 0;
    padding: 10rem 0;

    .list {
      width: 34.3rem;

      li {
        flex-flow: column-reverse nowrap;

        &:nth-of-type(1) {
          .right {
            width: 16.5rem;
            margin-right: 0;
          }
        }

        &:nth-of-type(2) {
          flex-flow: column-reverse nowrap;
          margin-top: 8rem;

          .left {
            h3 {
              width: 100%;
            }
          }

          .right {
            margin-right: 14.8rem;
          }
        }

        &:nth-of-type(3) {
          margin-top: 4.4rem;

          .left {
            h3 {
              width: 100%;
            }
          }

          .right {
            width: 17.6rem;
            margin-right: 0;
          }
        }

        .left {
          width: 100%;

          h3 {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 133.333%;
            margin-top: 4.8rem;
          }
        }
      }
    }
  }
}
